version: '3.9'

services:
  # 1. Your Email Service (FastAPI)
  email-service:
    build: 
      context: .
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    environment:
      # --- RabbitMQ Connection ---
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest

      # --- Redis Connection ---
      - REDIS_HOST=redis
      - REDIS_PORT=6379

      # --- SMTP/Email Provider ---
      - EMAIL_HOST=mailhog
      - EMAIL_PORT=1025
      - EMAIL_USER=user
      - EMAIL_PASSWORD=pass         
      - EMAIL_SENDER=noreply@my-app.com

    depends_on:
      - rabbitmq
      - redis
      - mailhog
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  # 2. Message Queue
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  # 3. Cache / Idempotency Store
  redis:
    image: redis:7
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  # 4. MailHog Fake SMTP Server
  mailhog:
    image: mailhog/mailhog
    ports:
      # SMTP port
      - "1025:1025"
      # Web UI port
      - "8025:8025"

# Top-level volumes for data persistence
volumes:
  redis_data:
